* {
	text-shadow: none !important;
	color: #000 !important;
	/* background: transparent !important; */
	box-shadow: none !important;
	border: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

body {
	background: #FFF;
}

.img-container {
	margin: 0 auto;
	width: 960px;
}
.img-fullwidth {
	width: 100%;
	hieght: auto;
}

.img-social-twitter{
	display: inline-block;
	margin: 50px 250px;
	width: 100px;
	height:	100px;
	background: url(../img/social-twitter.jpg);
}
.img-social-twitter:hover{	
	cursor: pointer;
	background: url(../img/social-twitter-hover.jpg);
}

.img-social-mail{
	display: inline-block;
	width: 150px;
	height:	100px;
	background: url(../img/social-mail.jpg);
}
.img-social-mail:hover{	
	cursor: pointer;
	background: url(../img/social-mail-hover.jpg);
}